
 h1 {
    
    text-align: center;
    color: darkred;
    text-decoration: blueviolet;
}

body {
     background-color: lightgoldenrodyellow;

}
table{
     border: darkblue;
     border-block-start-style: solid;
}
tr{
border-width: "2";
font-size:100%;
}

form{

text-align: center;

}